{% extends 'base.html.twig' %}

{% block title %}TodoList - Accueil{% endblock %}

{% block body %}


<main class="container mt-5">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h1>Hello {{ app.user.username }}! ✅</h1>
    {% else %}
    <h1>Hello ! ✅</h1>
    {% endif %}

    <h4></h4>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Limit date</th>
            <th scope="col">User</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.date|date('d/m/Y') }}</td>
                    {# <td>{{ users[task.userid -1].username }}</td> #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
